<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        </style>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="descrpcion" content="This app its to employee of Trackgenix">
        <link rel="stylesheet" href="../css/Reset.css">
        <link rel="stylesheet" href="../css/Sidebar.css">
        <link rel="stylesheet" href="../css/Header.css">
        <link rel="stylesheet" href="../css/Main.css">
        <link rel="stylesheet" href="../css/Footer.css">
        <link rel="stylesheet" href="../css/Style.css">
        <link rel="stylesheet" href="../css/login.css">
        <link rel="stylesheet" href="../css/employee-signup.css">
        <script src="../javascript/employee-signup.js"></script>
        <title>Trackgenix login</title>
    </head>
    <body>
        <main>
            <div class="Register-page">
                <form class="Register-form1">
                    <div class="H6">
                        <h6>Register</h6>
                        <p></p>
                    </div>
                    <section class="Register-label">
                        <div class="Start-div" >
                            <label for="First-name">First Name</label>
                            <input type="text" id="First-name" name="name">
                            <p class="Error-text" id="firstNameInput"></p>
                            <label for="Email">Email</label>
                            <input type="text" id="Email" name="name">
                            <p class="Error-text" id="emailInput"></p>
                            <label for="Adress">Adress</label>
                            <input type="text" id="Adress" name="name">
                            <p class="Error-text" id="adressInput"></p>
                            <label for="DNI">DNI</label>
                            <input type="text" id="DNI" name="name">
                            <p class="Error-text" id='dniInput'></p>
                            <label for="Zip">ZIP</label>
                            <input type="text" id="Zip" name="name">
                            <p class="Error-text" id="zipInput"></p>
                            <label for="Password">Password</label>
                            <input type="password" id="Password" name="name">
                            <p class="Error-text" id="passwordInput"></p>
                        </div> 
                        <div class="Start-div">
                            <label for="Last-name">Last Name</label>
                            <input type="text" id="Last-name" name="name">
                            <p class="Error-text" id="lastNameInput"></p>
                            <label for="Phone-number">Phone Number</label>
                            <input type="text" id="Phone-number" name="name">
                            <p class="Error-text" id="phoneNumberInput"></p>
                            <label for="Country">Location</label>
                            <input type="text" id="Country" name="name">
                            <p class="Error-text" id="countryInput"></p>
                            <label for="datebirthday">Date Birthday</label>
                            <input type="date" id="datebirthday" name="name">
                            <p class="Error-text" id="dobInput" ></p>
                            <label for="Repeat-password">Repeat Password</label>
                            <input type="password" id="Repeat-password" name="name">
                            <p class="Error-text" id="repeatPasswordInput"></p>
                        </div> 
                    </section>
                    <div class="Modal-container" id="modalSus">
                        <div class="Modal" id="modalContent">
                            <p class="Close" id="closeBtn2">X</p>
                            <li id="list2">                        
                            </li>
                            <p id="modalTitle"></p>
                        </div>
                    </div>
                    <div>
                        <button class="Button-register" id="button2">Continue</button>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>