<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        </style>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="descrpcion" content="This app its to employee of Trackgenix">
        <link rel="stylesheet" href="../css/Reset.css">
        <link rel="stylesheet" href="../css/Sidebar.css">
        <link rel="stylesheet" href="../css/Header.css">
        <link rel="stylesheet" href="../css/Main.css">
        <link rel="stylesheet" href="../css/Footer.css">
        <link rel="stylesheet" href="../css/Style.css">
        <title>Trackgenix</title>
    </head>
    <body>
        <aside>
            <div class="Sidebar">
                <section class="Asidee">
                    <a class="Center-nav1" id="doww" href="https://www.Trackgenix.com/Home">
                        <img src="../images/home.png" alt="Home" width="20%"> 
                        <P id="doubleline">Home</P></a>
                    <a class="Center-nav1" id="down" href="https://www.Trackgenix.com/Contact">
                        <img src="../images/contact.png" alt="contact" width="20%" > 
                        <P id="doubleline">Contact</P></a>
                </section>
                <section class="Asidee">
                    <a class="Center-nav1" href="https://www.Trackgenix.com/Singup">
                        <img src="../images/sing up.png" alt="Singup" width="20%"> 
                        <P>Sing up</P></a>
                    <a class="Center-nav1" href="https://www.Trackgenix.com/login">
                        <img src="../images/login.png" alt="login" width="20%" > 
                        <P>Log in</P></a>
                </section>
                <section class="Asidee">
                    <a class="Center-nav2" href="https://www.Trackgenix.com/Contact">
                        <img src="../images/tel}.png" alt="tel" width="20%" >
                        <P>0000-000000</P></a>
                    <a class="Center-nav2" href="https://www.Trackgenix.com/Contact">
                        <img src="../images/mail.png" alt="mail" width="20%">
                        <P>Tranckgenixupp@rr.com</P></a>
                </section>
                <div>
                    <img class="Menu" src="../images/shape.png" alt="Menu">
                </div>
            </div>
        </aside>
        <header>
            <div class="H1">
                <h1>Trackgenix</h1>
            </div>
        </header>
        <main>
            <div class="Page1">
                <article class="Firsth5">
                    <h5 >A tool designed to improve productivity and work managment</h5>
                </article> 
                <div class="Page1-div">
                    <section class="Homepa1"> 
                        <img src="../images/Landing1.jpg" alt="Homepage" width="150%" >
                    </section>
                    <article class="Homepa">
                        <p> Sometimes working with larg groups of people can be difficult.
                        Tranckgenix is a system created to make things easier in case like 
                        that and accomplish your goals In the easiest and fastest way.</p>
                    </article>
                </div> 
            </div>
            <div class="Page2">
                <div class="Title2">
                    <h2 >Functionalities</h2>
                </div>
                <div class="Page-two">
                    <div class="Item">
                        <img src="../images/1.png" alt="Recordhours" > 
                        <a href="URL">Record hours</a>
                    </div>
                    <div class="Item">
                        <img src="../images/22222.png" alt="Reports" >
                        <a href="URL">Reports</a>
                    </div>
                    <div class="Item">
                        <img src="../images/33333333.png" alt="RM">
                        <a href="URL">Resource management</a>
                    </div>
                    <div class="Item">
                        <img src="../images/4.png" alt="MR">
                        <a href="URL">Multiple roles</a>
                    </div>
                </div>
            </div>
            <div class="Page3">
                <div class="Title2">
                    <h2 >Why using Trackgenix?</h2>
                </div>
                <section class="Page3-section">
                    <article class="Page3-icon">
                        <img src="../images/Boost.png" alt="Boost" width="100" height="100"> 
                        <div class="Page3-p">
                            <a class="Bold" href="URL">Boost Productivity</a>
                            <p >Increase everyone´s performance by keeping track
                            of tasks, hours worked, progress made & more in an 
                            organized and time effective manner.</p>
                        </div>
                    </article>
                    <article class="Page3-icon">
                        <img src="../images/Work.png" alt="work" width="100" height="100">
                        <div class="Page3-p">
                            <a class="Bold" href="URL">Work Traceability</a>
                            <p >Organize and keep track of your work
                            from anywhere.</p>
                        </div>
                    </article>
                    <article class="Page3-icon">
                        <img src="../images/LeaderShip.png" alt="LeaderShip" width="100" height="100">
                        <div class="Page3-p">
                            <a class="Bold" href="URL">Leadership & Team Management</a>
                            <p >Manage your team´s effort by assigning new proyects,
                            setting deadlines, roles , and hourly rates for the members
                            of your team.</p>
                        </div>
                    </article>
                    <article class="Page3-icon">
                        <img src="../images/Decision.png" alt="decisión" width="100" 
                        height="100">
                        <div class="Page3-p">
                            <a class="Bold" href="URL">Decision Making</a>
                            <p >Improve your decisión making by having 
                            access to this valuable
                            Information at any time.</p>
                        </div>
                    </article>
                </section>
            </div> 
            <div class="Page4">
                <section class="Title2">
                    <h2>Information Request</h2>
                </section>
                <div class="Form-register">
                    <fieldset > 
                        <div class="Page4-label1" >
                            <label for="iname">Name</label>
                            <input type="text" id="iname" name="name"> 
                        </div>
                        <div class="Page4-label1">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email">
                        </div>
                        <div class="Page4-label1">
                            <p>Contact area</p>
                            <div class="Page4-start">
                            <div class="Page3-contact">
                                <input id="selector" type="radio" id="HR department" name="form" >
                                <input id="selector" type="radio" id="Systems" name="form" >
                                <input id="selector" type="radio" id="Commercialization" name="form">
                            </div>
                            <div class="Page3-contact">
                                <label id="selector" for="HR department">HR department</label>
                                <label id="selector" for="Systems">Systems</label>
                                <label id="selector" for="Commercialization">Commercialization</label>
                            </div>
                            </div>
                        </div>
                        <div class="Page4-label3">
                            <label id="rigth" for="Message">Message</label>
                            <textarea name="Message"></textarea> 
                        </div>
                        <div class="End">
                            <button class="Buttom">confirm</button>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="Page5">
                <h2 class="Title2">History</h2>
                <section class="Page5-section1">
                    <section class="Page5-section2" >
                        <article class="Page5-article">
                            <h5>2007</h5>
                            <p>We initially began to sell our services in 2007 at the department of Rosario, 
                                Argentina.</p>
                        </article>
                        <article class="Page5-article">
                            <h5 >2011</h5>
                            <p >Since day 1 of our introduction to the market, our model has been to put our
                                 clients needs first and to ensure a high level of client satisfaction. 
                                 For this reason, our business grew rapidly and by the year 2011 we decided it 
                                 was best to expand our reach to the entire country.</p>
                        </article>
                        <article class="Page5-article">
                            <h5 > 2014</h5>
                            <p >In Radium Rocket we are constanly pushing the boundaries of whats posible. 
                                In the year 2014, we acquired Microsoft Data, Inc.,which allowed us to 
                                become the worldwide leading developer and provider of technology solutions 
                                in the casino industry.</p>
                        </article>
                    </section>
                    <section class="Page5-section2">
                        <article class="Page5-article">
                            <h5 >2018</h5>
                            <p >In 2018, we opened a software development center in Hong Kong, Asia, to 
                                supplement our product development efforts. Since then, engineers, 
                                designers and developers from all around the world have been putting in 
                                the work everyday to advance engeniering discoveries and uncover new 
                                technologies that have singinifcant potential for enterprises with bright 
                                and new business ideas.</p>
                        </article>
                        <article class="Page5-article">
                            <h5 >2021</h5>
                            <p >In 2021, we sold our IT solutions department in regards to the casino industry, 
                                and restructured our business model to focuson a more ethical approach to business.</p>
                        </article>
                        <article class="Page5-article">
                            <h5 >2022</h5>
                            <p >Today, we are focused on providing state-of-the-art, end-to-end solutions that 
                                enhance users experiences and allow our customers to promote their brands. 
                                This is accomplished by developing and deploying innovative solutions that 
                                help enterprises overcome daily challenges which always emerge during digital 
                                evolution.</p>
                        </article>
                    </section>
                </section>
            </div>
            <div class="Page6">
                <section class="Pinkcolor">
                    <article>
                        <div class="Page6-contact">
                            <a>Contact</a>
                        </div>
                        <div class="Page6-info">
                            <img src="../images/telll.png" alt="Phone"><p>(000) 000-0000</p>
                        </div>
                        <div class="Page6-info">
                            <img src="../images/mess.png" alt="Messages"><p>trackgenixsupp@rr.com</p>
                        </div>
                    </article>
                </section>
            </div>
            <div class="Page7">
                <section class="Page7-article">
                    <article class="Page7-box1">
                        <img src="../images/PRODUCTS.png" alt="product" width="50" height="50"> 
                        <h3>PRODUCTS</h3>
                    </article>
                    <article class="Page7-box2">
                        <ul>
                            <li>Functionalities</li>
                            <li>Downloads</li>
                            <li>Integration</li>
                            <li>Extra</li>
                        </ul>
                    </article>
                </section>
                <section class="Page7-article">
                    <article class="Page7-box1">
                        <img src="../images/BUSINESS.png" alt="business" width="50" height="50"> 
                        <h3>BUSINESS</h3>
                    </article>
                    <article class="Page7-box2">
                        <ul>
                            <li>About us</li>
                            <li>Clients</li>
                            <li>Resource</li>
                            <li>Blog</li>
                        </ul>
                    </article>
                </section>
                <section class="Page7-article">
                    <article class="Page7-box1">
                        <img src="../images/Icon-Support.png" alt="Icon" width="50" height="50" > 
                        <h3>SUPPORT</h3>
                    </article>
                    <article class="Page7-box2">
                        <ul>
                            <li>Help</li>
                            <li>Tutorials</li>
                            <li>API</li>
                            <li>Contact</li>
                        </ul>
                    </article>
                </section>
            </div>
        </main>
        <footer>
            <section class="Footer-img">
                <a href="https://www.facebook.com/Trackgenix">
                <img src="../images/face.png" alt="face" width="50" height="50"></a>
                <a href="https://www.twitter.com/Trackgenix">
                <img src="../images/twet.png" alt="twitter" width="50" height="50"></a>
                <a href="https://www.linkedin.com/Trackgenix">
                <img src="../images/linke.png" alt="linkedin" width="50" height="50"></a>
                <a href="https://www.instagram.com/Trackgenix">
                <img src="../images/insta.png" alt="instagram" width="50" height="50"></a>
            </section>
                <p id="Copy">Rosario, Argentina.Copyright © 2022 Radium Rocket. All rights reserved</p>
        </footer>
    </body>
</html>