<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        </style>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="descrpcion" content="This app its to employee of Trackgenix">
        <link rel="stylesheet" href="../css/Reset.css">
        <link rel="stylesheet" href="../css/Sidebar.css">
        <link rel="stylesheet" href="../css/Header.css">
        <link rel="stylesheet" href="../css/Main.css">
        <link rel="stylesheet" href="../css/Footer.css">
        <link rel="stylesheet" href="../css/Style.css">
        <link rel="stylesheet" href="../css/login.css">
        <script src="../javascript/login.js"></script>
        <title>Trackgenix login</title>
    </head>
    <body>
        <main>
            <div class="Page-login">
            <div class="Titlelogin"> 
                <h2>
                    Trackgenix
                </h2>
            </div>
            <form class="Section-form">
                <div class="H6">
                    <h6>Sing In</h6>
                    <p></p>
                </div>
                <section class="section2">
                    <div class="Section1">
                        <div id="emailInput">
                            <img src="../images/Username.png" alt="username">
                            <label for="username"></label>
                            <input type="text" id="username" name="name" placeholder="Username">
                            <p id="usernameP"></p>
                        </div>
                        <div id="passwordInput">
                            <img src="../images/Password.png" alt="Password">
                            <label id= "labelSingup" for="Password"></label>
                            <input type="password" id="Password" name="name" placeholder="Password">
                            <p id="passwordP"></p>
                        </div>
                        <div class="Movetostart">
                            <input id="Rememberme" type="checkbox" id="Remember" name="form" >
                            <label id="Rememberme" for="Remember">Remember me</label>
                        </div>
                        <div class="Modal-container" id="modalSus">
                            <div class="Modal" id="modalContent">
                                <p class="Close" id="closeBtn">X</p>
                                <li id="list1">                        
                                </li>
                                <p id="modalTitle"></p>
                            </div>
                        </div>
                    </div>
                    <div class="Section1">
                        <div class="Ancore-login"> 
                            <a href="">Register here</a>
                            <a href="">Forgot your Password</a>
                        </div>
                        <div>
                            <button class="Buttom-comfirm" id="button">Continue</button>
                        </div>
                    </div>
                </section>
            </form>
            </div>
        </main>
        
    </body>
</html>