<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        </style>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="descrpcion" content="This app its to employee of Trackgenix">
        <link rel="stylesheet" href="../css/Reset.css">
        <link rel="stylesheet" href="../css/Sidebar.css">
        <link rel="stylesheet" href="../css/Header.css">
        <link rel="stylesheet" href="../css/Main.css">
        <link rel="stylesheet" href="../css/Footer.css">
        <link rel="stylesheet" href="../css/Style.css">
        <link rel="stylesheet" href="../css/login.css">
        <link rel="stylesheet" href="../css/employee-signup.css">
        <title>Trackgenix login</title>
    </head>
    <body>
        <main>
            <div class="Register-page">
                <form class="Register-form1">
                    <div class="H6">
                        <h6>Register</h6>
                    </div>
                    <section class="Register-label">
                        <div class="Start-div">
                            <label for="First-name">First Name</label>
                            <input type="text" id="First-name" name="name">
                            <label for="Email">Email</label>
                            <input type="text" id="Email" name="name">
                            <label for="Adress">Adress</label>
                            <input type="text" id="Adress" name="name">
                            <label for="Password">Password</label>
                            <input type="text" id="Password" name="name">
                        </div> 
                        <div class="Start-div">
                            <label for="Last-name">Last Name</label>
                            <input type="text" id="Last-name" name="name">
                            <label for="Phone-number">Phone Number</label>
                            <input type="text" id="Phone-number" name="name">
                            <label for="Country">Country</label>
                            <input type="text" id="Country" name="name">
                            <label for="Repeat-password">Repeat Password</label>
                            <input type="text" id="Repeat-password" name="name">
                        </div> 
                    </section>
                    <div>
                        <button class="Buttom-comfirm">Continue</button>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>