body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
    h1 {
        background-color: red;
        color: white;
        margin-top: 86px;
        width: 686px;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        margin-left: 400px;
        
    }
    .Firsth5 {
        color: black;
        font-style: oblique;
        padding: 90px; 
        margin-left: 500px; 
    }
    .Homepa {
        margin-left: 400px;
        margin right: 128px;
    }
    .firstp {
        display: inline;
        text-align: center;
        text-decoration: solid;
    }
    