.Register-form1 {
    display: flex;
    flex-direction: column;
    height: 65vh;
    align-items: center;
    justify-content: space-around;
    box-shadow: 10px 10px 10px 10px lightgrey;
    width: 92%;
}
.Register-label {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
}
.Register-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Start-div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 120%;
    justify-content: space-around;
}
.Button-register{
    color: white;
    background-color: red;
    border: none;
    width: 40vh;
    height: 5vh;
}
.Red-decoration {
    text-decoration: dashed red;
}
.Green-border {
    border: 3px solid green;
}
.Red-border {
    border: 3px solid red;
}