body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
    h1 {
        background-color: red;
        color: white;
        margin-top: 86px;
        width: 686px;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        margin-left: 500px;
    }
    .Firsth5 {
        color: black;
        font-style: oblique;
        padding: 90px; 
        margin-left: 593px; 
    }
    .Homepa > img {
        display: inline;
        margin-left: 500px;
        background-color: red
    }
    .Homepa > p {
        display: inline;
        height: 124px;
        width: 342px;
        padding-top: 100px;
        float: right;
        margin-right: 300px;
        font-weight: bold;
        text-align: left;
        
    }
    aside {
        width: 20%;
        background-color: red;
        padding: 1%;
        float: left;
        height: 983px;
        width: 277px;
        position: fixed;
        display: inline;
        top: 0px;
        margin-top: 0%;
        margin-left: 0%;
    }
    aside P {
        display: inline;
        padding-left: 10px;
    }
    aside a {
        padding-top: 25%;
        
    }
    .center-nav1 {
        display: block;
        padding-top: 80px;
        padding-left: 60px;
        color: white;
        text-decoration: underline;
        
    }
    .center-nav2{
        display: block;
        padding-top: 200px;
        padding-left: 60px;
        color: white;
        text-decoration: none;
    }
    .center-nav3{ 
        display: block;
        padding-top: 30px;
        padding-left: 60px;
        color: white;
        text-decoration: none;
    }
    .center-nav4{ 
        display: block;
        padding-top: 300px;
        padding-left: 60px;
        color: white;
        text-decoration: none;
    }
    h2 {
        background-color: red;
        color: white;
        margin-top: 330px;
        width: 600px;
        padding: 20px;
        text-align: center;
        margin-left: 550px;
    }
    .Second-page {
        display: inline;
    }
    .page-two {
       display: inline;
    }
    .page-two > img {
        display: inline ;
        padding-left: 450px;
        padding-right: 50px;
        padding-top: 350px; 
        position: relative;      
    }
    .problem{
        margin-left: -120px;
    }
    .page-two > a{
        color: black;
        font-size: 30px;
        text-decoration: none;
        font-weight: bold;
        vertical-align: 70px;
    }
    .rombo1 {
        width: 90px; 
        height: 90px; 
        background-color: red;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        display: inline;
        margin-left: 430px;;
        border-radius: 8px;
        margin-top: 340px;
        

    }
    .rombo2 {
        width: 90px; 
        height: 90px; 
        background-color: red;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        display: inline;
        margin-left: 430px;;
        border-radius: 8px;
        margin-top: 340px;
    }
    .rombo3 {
        width: 90px; 
        height: 90px; 
        background-color: red;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        display: inline;
        margin-left: -995px;;
        margin-top: 760px;
        border-radius: 8px;
    }
    .rombo4 {
        width: 90px; 
        height: 90px; 
        background-color: red;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        display: inline;
        margin-left: 310px;
        margin-top: 340px;
        border-radius: 8px;
    }
    .page-t > img{ 
        margin-left: 450px;
        display: inline;
       
    }
    .page-t > a{
        width: 211px;
        height: 96px;
        display: inline;
        text-decoration: none;
        font-weight: bold;
        color: black;
        size: 20px;
        vertical-align: top;

    } 
    .page-t > p{
        width: 380px;
        height: 82px;
        display: inline;
        text-align: center;       
    } 
    .page-t {
        margin-right: 300px;
    }

    