.asidee {
    background-color:red;
    display: flex;        
    flex-direction: row;
    align-self: flex-end;
    align-items: center;
    justify-content: space-around;
    height: 10%;
    flex-wrap: wrap;
}
 .center-nav1 {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    justify-content: space-around; 
    
    
}
@media screen and (max-width: 1024px) {
    .center-nav2 {
        display: none;
    }
}


