main{
    display: flex;
    flex-direction: column;
}
main > h5 {
    color: black;
    font-style: oblique;
    padding: 10%; 
    text-align: center;
    font-size: 12px;
    display: flex;
}
.Homepa {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    }
.Homepa > p {
    width: 70%;
    padding:  30%;
}
.Title2 {
    background-color: red;
    color: white;
    width: 100%;
    text-align: center;
    justify-self: start;
    padding: 5%;
}

.page-two {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;  
    justify-content: space-around;
    
}
.item {
    display: flex;
    align-items: center;
    text-decoration: none;
} 
.item > a {
    text-decoration: none;
    color: black;
    padding-left: 10%;
    font-weight: bold;
    width: 200px;
} 
.Page2 {
    height: 100vh;    
}
.Page3 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;       
}
#all-a { 
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: start;
    align-self: flex-start;
    justify-self: end;
}
.Page3-icon {
    display: flex;
    justify-content: space-around;
    height: 20vh;
    align-items: flex-start;
}
.Page3-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.Page3-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    
}
.Bold{
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    color: black;
}
.Page4 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    align-items: center;     
}
.form-register{
    display: flex;
    
    background-color: lightgray;  
    height: 60vh;
    width: 90%;
    justify-content: center;
    align-items: center;
}
.Page4-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: aqua;
}
.Page4-rigth{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: brown;
}
.Page5 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: center;     
    background-image: url(../images/fondo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: start;
    
}
.cuadrado {
    width: 33%;
    height: 15vh;
    background-color: black;
    background-position: bottom;
    opacity: 50%;
    border-radius: 5%;
}
.Page5-section {
    display: flex;
    flex-wrap: wrap;
   
}
.Page5-article {
    display: flex;
    
    width: 30%;
}

