main{
    display: flex;
    flex-direction: column;
}
main > h5 {
    color: black;
    font-style: oblique;
    padding: 10%; 
    text-align: center;
    font-size: 12px;
    display: flex;
}
.Homepa {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    }
.Homepa > p {
    width: 70%;
    padding:  30%;
}
.Title2 {
    background-color: red;
    color: white;
    width: 100%;
    text-align: center;
    justify-self: start;
    padding: 5%;
}

.page-two {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;  
    justify-content: space-around;
    
}
.item {
    display: flex;
    align-items: center;
    text-decoration: none;
} 
.item > a {
    text-decoration: none;
    color: black;
    padding-left: 10%;
    font-weight: bold;
    width: 200px;
} 
.Page2 {
    height: 100vh;    
}
.Page3 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;       
}
#all-a { 
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: start;
    align-self: flex-start;
    justify-self: end;
}
.Page3-icon {
    display: flex;
    justify-content: space-around;
    height: 20vh;
    align-items: flex-start;
}
.Page3-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.Page3-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    
}
.Bold{
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    color: black;
}
.Page4 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    align-items: center;     
}
.form-register{
    display: flex;
    background-color: #e5e5e5; 
    height: 70vh;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    
}
.Page4-label1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30%;  
    padding: 10%;     
}
.Page4-label2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30%;       
}
.Page4-label3{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10%; 
    padding: 10%;
    width: 150%;
}
.Page3-contact{
    display: flex;
    flex-direction: column;
    justify-content: start
}
.Page4-start{
    display: flex;
}
.Buttom {
    size: 20%;
    background-color: red;
    color: white;
    padding: 3% 32%;
    text-align: center;
    justify-items: end;
    display: flex;
}
.End {
    display: flex;
    justify-content: flex-end;
}
.Page5 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: center;
}
.Page5-section1 {
    display: flex;
    flex-direction: column; 
    background-image: url(../images/Picture\ clock.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 110%;
    justify-content: space-around;
}
.Page5-section2 {
    display: flex;
    gap: 1%;
    justify-content: center;
    
}
.Page5-article {
    display: flex;    
    flex-direction: column;  
    align-items: center;
    flex: 2;
    height: 90%;   
}
.Page5-article > p {
    background-color: #00000080;
    justify-self: center;
    border-radius: 5%;  
    font-size: small;
    min-width: 100%;
    min-height: 100%;
}
.Page6 {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center;

}
.Pinkcolor{
    display: flex;
    width: 90%;
    height: 30%;
    background-color: #ff5454;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.Page6-info {
    display: flex;
    flex-direction: row;
    margin: 10%;
    gap: 10%;
}
.Page7 {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: center;
}
.Page7-article {
    display: flex;
    flex-direction: column;
}
.Page7-box1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
}
.Page7-box1 > h3 { 
    color: red;
    font-size: large;
    font-weight: bold;
}
.Page7-box2{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
ul {
    list-style: circle;
}



