main{
    display: flex;
    flex-direction: column;
}
main > h5 {
    color: black;
    font-style: oblique;
    padding: 10%; 
    text-align: center;
    font-size: 12px;
    display: flex;
}
.Homepa {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    }
.Homepa > p {
    width: 70%;
    padding:  30%;
}
.Title2 {
    background-color: red;
    color: white;
    width: 100%;
    text-align: center;
    justify-self: start;
    padding: 5%;
}

.page-two {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;  
    justify-content: space-around;
}
.item {
    display: flex;
    align-items: center;
    text-decoration: none;
} 
.item > a {
    text-decoration: none;
    color: black;
    padding-left: 10%;
} 
.Page2 {
    height: 100vh;
}



